.top {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  z-index: 999;
}

.topLeft,
.topRight {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topCenter {
  flex: 6;
}

.topImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.topIcon {
  font-size: 23px;
  margin: 10px;
  color: #444;
  cursor: pointer;
}

.topList {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 20px;
}

.topListItem {
  margin: 20px;
  font-size: 17px;
  font-weight: 300;
  cursor: pointer;
}

.topListItem > link {
  margin: 10px;
}

@media (max-width: 375px) {
  .top {
    width: 700px;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    z-index: 999;
  }
}
